# Review Data Clean and Drop

I import the review dataset again using Pandas library.

In [1]:
import pandas as pd

df = pd.read_json('yelp_academic_dataset_review.json', lines =True)
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

Checking data structure

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990280 entries, 0 to 6990279
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        int64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 480.0+ MB

Sorting by date descending, since I do not need old data.

In [6]:
df.sort_values('date', ascending =False, inplace = True)
df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
4863327,6BXQO_LAmMolJ5BYieGDsA,IH0ToaZ8hJXO2pVieN7dpQ,VItkA7pL82rCZdxHH8vBGA,5,0,0,0,This was amongst my favorite Yelp Elite events...,2022-01-19 19:48:45
5476035,gUkdqUCMJCJ38HVlLZxlgg,i1PMqye40QWNkJ0MYGHuzg,J0joPXxmN-_9Lzafspqdbw,5,0,0,0,Love love love this place! Great food and alwa...,2022-01-19 19:48:25
6251618,3wqrZowVYwSPEh8p5nLn1g,3TQKP7KlNRdrI2gOkG7slg,jVg-KTXEFIeAq47DTp4Hrw,5,0,0,0,Jerry did an excellent job! My car is running ...,2022-01-19 19:48:19
2710116,L0KaPI67DcTN4wwqfz6A3w,2Mb0st9WVyccaz6sKNLHWw,M88FFZZ2o_7QKpCFA_8RtA,5,0,0,0,I LOVE Subaru of Cherry Hill. I have bought n...,2022-01-19 19:48:16
4878781,11yPqFYtkACY7TWKc5MNzA,lmiiFd9KC15fs4xtEoXRvw,XDMno4l95AXgYOd0yDtHZA,5,0,0,0,Such yummy food and great customer service! I ...,2022-01-19 19:48:13
...,...,...,...,...,...,...,...,...,...
4884223,WC9q5vhQlQkLK05kEs-vYQ,XCsZ3hWa_6oP1WkWvK7pmg,Aes-0Q_guDeYewMapFs_vg,2,0,0,0,Food is decent but is a complete tourist trap....,2005-03-01 16:59:37
1423159,7Dcrt0Oz0hikA8obGhadrQ,XCsZ3hWa_6oP1WkWvK7pmg,U3grYFIeu6RgAAQgdriHww,5,0,0,0,Words cannot describe how much I miss this pla...,2005-03-01 16:57:17
4887456,g80vzN72iU03Wh0fSpq41g,3zBJUlWtPNoZ0uN83ODbyg,PP3BBaVxZLcJU54uP_wL6Q,5,0,0,0,These guys really are the king of cheese steak...,2005-02-16 04:06:26
6295220,-O5ng1XLox6uEr4uIZ8u5A,3zBJUlWtPNoZ0uN83ODbyg,3g6XqkBikTTbZmTukbeGnw,4,1,0,0,Great service. The people really want to help...,2005-02-16 03:29:39
4179799,IykJMMZgbNcUndwf1q6ieg,3zBJUlWtPNoZ0uN83ODbyg,2bXm0SynOfxDzfrdrCyXqg,4,0,0,0,It's not chicago style pizza but it is still a...,2005-02-16 03:23:22

In [7]:
import datetime
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day

Dropping all the data except from 2022 by striping year, month, day by datetime library.

In [9]:
df = df[df['year'] == 2022]

In [10]:
df.to_csv('2022review.csv', index = False)

## Continuing with Sentiment Analysis file
Saved csv file to be used for faster execution.