# Merging Business file and Sentiment Analysis
From previous working csv file, I plan to merge the business profile json file.

In [1]:
import pandas as pd
import datetime

df = pd.read_csv('2022review.csv')

df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,year,month,day
0,6BXQO_LAmMolJ5BYieGDsA,IH0ToaZ8hJXO2pVieN7dpQ,VItkA7pL82rCZdxHH8vBGA,5,0,0,0,This was amongst my favorite Yelp Elite events...,2022-01-19 19:48:45,2022,1,19
1,gUkdqUCMJCJ38HVlLZxlgg,i1PMqye40QWNkJ0MYGHuzg,J0joPXxmN-_9Lzafspqdbw,5,0,0,0,Love love love this place! Great food and alwa...,2022-01-19 19:48:25,2022,1,19
2,3wqrZowVYwSPEh8p5nLn1g,3TQKP7KlNRdrI2gOkG7slg,jVg-KTXEFIeAq47DTp4Hrw,5,0,0,0,Jerry did an excellent job! My car is running ...,2022-01-19 19:48:19,2022,1,19
3,L0KaPI67DcTN4wwqfz6A3w,2Mb0st9WVyccaz6sKNLHWw,M88FFZZ2o_7QKpCFA_8RtA,5,0,0,0,I LOVE Subaru of Cherry Hill. I have bought n...,2022-01-19 19:48:16,2022,1,19
4,11yPqFYtkACY7TWKc5MNzA,lmiiFd9KC15fs4xtEoXRvw,XDMno4l95AXgYOd0yDtHZA,5,0,0,0,Such yummy food and great customer service! I ...,2022-01-19 19:48:13,2022,1,19

Opening with Pandas library, as usual. And checking the data sets.

In [4]:
business = pd.read_json('yelp_academic_dataset_business.json', lines=True)
business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB

I've merged business profile dataset with review dataset by matching business id. <br>
The below chart shows cities with number of reviews in 2022.

In [33]:
merged_df2 = pd.merge(business, df, on = 'business_id', how = 'left')
merged_df2 = merged_df2.dropna()
merged_df2.groupby('city').count()

,business_id,name,address,state,postal_code,latitude,longitude,stars_x,review_count,is_open,...,user_id,stars_y,useful,funny,cool,text,date,year,month,day
city,,,,,,,,,,,,,,,,,,,,,
Abington,28,28,28,28,28,28,28,28,28,28,...,28,28,28,28,28,28,28,28,28,28
Abington Township,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Affton,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
Afton,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Alton,13,13,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
indianopolis,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
land o lakes,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
lutz,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
philadelphia,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
reno,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

Exploring data first by city. Then by Postal code, and by star_x a.k.a average business rating greater than 3.

In [35]:
merged_df2[merged_df2['city']=='philadelphia']

,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,review_count,...,user_id,stars_y,useful,funny,cool,text,date,year,month,day
99897,ZUbyBcum99HzkLA3Z3CFQQ,Eatible Delights Catering,1540 Wadsworth Ave,philadelphia,PA,19121,40.079733,-75.172927,3.5,31,...,hsu0ULtk6zKCgqo4-7CM8A,1.0,0.0,0.0,0.0,"WOW, What a difference a year makes.\nSo I use...",2022-01-15 01:33:10,2022.0,1.0,15.0
162637,2gFPQCmKKVi1aHgGTLRZvA,Green Eggs Cafe,33 S 18th St,philadelphia,PA,19103,39.952240,-75.169541,4.0,119,...,iBIx90zNw-wbNHAmyOOZ6w,5.0,0.0,0.0,0.0,"My friends and I found this place on Tiktoc, a...",2022-01-16 13:15:15,2022.0,1.0,16.0
162638,2gFPQCmKKVi1aHgGTLRZvA,Green Eggs Cafe,33 S 18th St,philadelphia,PA,19103,39.952240,-75.169541,4.0,119,...,WgByBEdsCbP3iwZQaeLUng,3.0,0.0,0.0,0.0,The wait to be seated was pretty quick but it ...,2022-01-15 18:15:23,2022.0,1.0,15.0
162639,2gFPQCmKKVi1aHgGTLRZvA,Green Eggs Cafe,33 S 18th St,philadelphia,PA,19103,39.952240,-75.169541,4.0,119,...,Qv-Jun24qpXGASX4Ywg07g,4.0,0.0,0.0,0.0,"There was a wait time of 30 minutes, but once ...",2022-01-14 22:07:44,2022.0,1.0,14.0
162640,2gFPQCmKKVi1aHgGTLRZvA,Green Eggs Cafe,33 S 18th St,philadelphia,PA,19103,39.952240,-75.169541,4.0,119,...,NboceT6ftUDbD1QM-hS0Uw,2.0,0.0,0.0,0.0,Came here for a friend's birthday brunch. Insi...,2022-01-10 09:56:45,2022.0,1.0,10.0
162641,2gFPQCmKKVi1aHgGTLRZvA,Green Eggs Cafe,33 S 18th St,philadelphia,PA,19103,39.952240,-75.169541,4.0,119,...,Ox_clBOeuu3M0FMpUxPjzw,5.0,0.0,0.0,0.0,Theres always a line here on the weekends for ...,2022-01-02 04:23:24,2022.0,1.0,2.0
162642,2gFPQCmKKVi1aHgGTLRZvA,Green Eggs Cafe,33 S 18th St,philadelphia,PA,19103,39.952240,-75.169541,4.0,119,...,tZUnRhU52y0jJJHk7_yEoA,5.0,0.0,0.0,0.0,Food was amazing and came unexpectedly quick. ...,2022-01-01 16:33:42,2022.0,1.0,1.0

In [45]:
pc_19103 = merged_df2[merged_df2['postal_code']== '19103']
pc_19103[pc_19103['stars_x'] > 3]

,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,review_count,...,user_id,stars_y,useful,funny,cool,text,date,year,month,day
231,FTFtoylMzkrzqNVSl-bkKw,Giant Food Stores,60 N 23rd St,Philadelphia,PA,19103,39.956528,-75.178014,4.0,19,...,mNB0U5u7yRAzV1jCQVj-vQ,1.0,1.0,0.0,0.0,For Thanksgiving I ordered a bunch of gift car...,2022-01-10 15:42:58,2022.0,1.0,10.0
420,dChRGpit9fM_kZK5pafNyA,The Love,130 S 18th St,Philadelphia,PA,19103,39.950656,-75.170899,4.0,618,...,-_Lfm5bztNCYXaBmrqY7tA,5.0,1.0,0.0,0.0,Very delighted to be here for lunch today! \nB...,2022-01-18 00:08:36,2022.0,1.0,18.0
421,dChRGpit9fM_kZK5pafNyA,The Love,130 S 18th St,Philadelphia,PA,19103,39.950656,-75.170899,4.0,618,...,qZsuTK8e8xy0OTGN6T6hQA,4.0,0.0,0.0,0.0,This is a place to come for the ambiance more ...,2022-01-13 19:07:29,2022.0,1.0,13.0
422,dChRGpit9fM_kZK5pafNyA,The Love,130 S 18th St,Philadelphia,PA,19103,39.950656,-75.170899,4.0,618,...,C76QKXBMh2zDJvCK0Ib6xA,5.0,1.0,0.0,0.0,The Love has quickly become our fave local spo...,2022-01-07 00:07:50,2022.0,1.0,7.0
423,dChRGpit9fM_kZK5pafNyA,The Love,130 S 18th St,Philadelphia,PA,19103,39.950656,-75.170899,4.0,618,...,PA_DsawiqbrL0WhNjEfB2g,5.0,0.0,0.0,0.0,We LOVED The Love!!! The food was delicious......,2022-01-04 16:20:03,2022.0,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162639,2gFPQCmKKVi1aHgGTLRZvA,Green Eggs Cafe,33 S 18th St,philadelphia,PA,19103,39.952240,-75.169541,4.0,119,...,Qv-Jun24qpXGASX4Ywg07g,4.0,0.0,0.0,0.0,"There was a wait time of 30 minutes, but once ...",2022-01-14 22:07:44,2022.0,1.0,14.0
162640,2gFPQCmKKVi1aHgGTLRZvA,Green Eggs Cafe,33 S 18th St,philadelphia,PA,19103,39.952240,-75.169541,4.0,119,...,NboceT6ftUDbD1QM-hS0Uw,2.0,0.0,0.0,0.0,Came here for a friend's birthday brunch. Insi...,2022-01-10 09:56:45,2022.0,1.0,10.0
162641,2gFPQCmKKVi1aHgGTLRZvA,Green Eggs Cafe,33 S 18th St,philadelphia,PA,19103,39.952240,-75.169541,4.0,119,...,Ox_clBOeuu3M0FMpUxPjzw,5.0,0.0,0.0,0.0,Theres always a line here on the weekends for ...,2022-01-02 04:23:24,2022.0,1.0,2.0
162642,2gFPQCmKKVi1aHgGTLRZvA,Green Eggs Cafe,33 S 18th St,philadelphia,PA,19103,39.952240,-75.169541,4.0,119,...,tZUnRhU52y0jJJHk7_yEoA,5.0,0.0,0.0,0.0,Food was amazing and came unexpectedly quick. ...,2022-01-01 16:33:42,2022.0,1.0,1.0
162778,mzTTdvQGkUHZ8ii7OnZC5w,Trader Joe's,2121 Market St,Philadelphia,PA,19103,39.954178,-75.175980,4.0,494,...,lhfbA4aEcRGdKyci60MC7Q,5.0,0.0,0.0,0.0,A bit overwhelming for those that choose to ma...,2022-01-18 23:42:06,2022.0,1.0,18.0

The review of "The Love" seem to have good rating. Extracting only the reviews, as shown below.

In [52]:
the_love = pc_19103[pc_19103['name'] == 'The Love']
the_love['text']

420    Very delighted to be here for lunch today! \nB...
421    This is a place to come for the ambiance more ...
422    The Love has quickly become our fave local spo...
423    We LOVED The Love!!! The food was delicious......
Name: text, dtype: object

Using nltk library, the SentimentIntensityAnalyer allowed to evaluate the sentiment of the customers.

In [50]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to C:\Users\JaehyungRoh.
[nltk_data]     MEDIAPLUSSEA\AppData\Roaming\nltk_data...

True

In [55]:
sid = SentimentIntensityAnalyzer()

scores  = []
for sentence in the_love['text']:
    score = {'sentence': sentence}
    score.update(sid.polarity_scores(sentence))
    scores.append(score)
    
df_scores = pd.DataFrame(scores)
df_scores

,sentence,neg,neu,pos,compound
0,Very delighted to be here for lunch today! \nB...,0.0,0.772,0.228,0.9750
1,This is a place to come for the ambiance more ...,0.0,0.779,0.221,0.9675
2,The Love has quickly become our fave local spo...,0.0,0.876,0.124,0.8122
3,We LOVED The Love!!! The food was delicious......,0.0,0.639,0.361,0.9766

As shown above, the emphasis of LOVE and expressions increases the positive scores.