# Yelp Review Analysis

## Problem Statement
Yelp is a user-content oriented platform and a great resource to understand customer's view on businesses.
So, I downloaded datasets from here: https://www.yelp.com/dataset <br>  
Open source data ending Jan 19, 2022.

The file is in .tar format. Extracting file with tarfile, as below.

In [1]:
import tarfile

In [2]:
def extract_tar_file(file_path, output_path):
    with tarfile.open(file_path) as tar:
        tar.extractall(path=output_path)

# Use the function
extract_tar_file(r"C:\Users\JaehyungRoh.MEDIAPLUSSEA\Downloads\yelp_dataset.tar",r"C:\Users\JaehyungRoh.MEDIAPLUSSEA\Desktop")

Using Pandas library, I was able to open json file, as shown below.

In [1]:
import json
import pandas as pd

user = pd.read_json("yelp_academic_dataset_user.json", lines =True)

user.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [2]:
user.to_csv('user.csv', index = False)

In [3]:
business = pd.read_json("yelp_academic_dataset_business.json", lines =True)
business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [19]:
business.sort_values('name', ascending=True)
business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
69775,nL5Lu2HbjAYClsassArjXA,Grow Academy,830 Kirkwood Ave,Nashville,TN,37204,36.121090,-86.779848,3.5,6,1,{'BusinessAcceptsCreditCards': 'True'},"Preschools, Education, Local Services, Child C...","{'Monday': '7:0-18:0', 'Tuesday': '7:0-18:0', ..."
33991,t7vVRlyF9_lxuL1auqVchg,Joe's Throwback Barber Shop,6802 Ridge Ave,Philadelphia,PA,19128,40.042395,-75.226518,5.0,17,1,"{'BikeParking': 'True', 'BusinessParking': '{'...","Beauty & Spas, Barbers","{'Monday': '0:0-0:0', 'Tuesday': '7:0-19:0', '..."
144788,R1nPs3Lc2eXRW95oYuzytA,Leland's Barbershop,112 S Center St,Plainfield,IN,46168,39.702890,-86.402923,4.5,6,1,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Barbers, Beauty & Spas","{'Tuesday': '7:0-17:0', 'Wednesday': '12:0-20:..."
57020,f9pqgFRKMoN75uqzxd7KHw,Xtreme Laser Tag Avon,8131 Kingston St,Avon,IN,46123,39.759701,-86.378301,4.0,12,0,"{'BikeParking': 'True', 'WiFi': 'u'free'', 'Bu...","Arts & Entertainment, Venues & Event Spaces, E...","{'Thursday': '17:0-21:0', 'Friday': '17:0-23:0..."
33505,ihYl-uK0PYNPeFskcNAr-g,"""Genuino"" Italian Cafe'",14351 N Dale Mabry Hwy,Tampa,FL,33618,28.077936,-82.506174,4.5,60,0,"{'DogsAllowed': 'True', 'WheelchairAccessible'...","Pizza, Breakfast & Brunch, Restaurants, Food, ...","{'Tuesday': '9:0-22:0', 'Wednesday': '9:0-22:0..."

In [22]:
print(business.groupby('state').count())

       business_id   name  address   city  postal_code  latitude  longitude  \
state
AB            5573   5573     5573   5573         5573      5573       5573
AZ            9912   9912     9912   9912         9912      9912       9912
CA            5203   5203     5203   5203         5203      5203       5203
CO               3      3        3      3            3         3          3
DE            2265   2265     2265   2265         2265      2265       2265
FL           26330  26330    26330  26330        26330     26330      26330
HI               2      2        2      2            2         2          2
ID            4467   4467     4467   4467         4467      4467       4467
IL            2145   2145     2145   2145         2145      2145       2145
IN           11247  11247    11247  11247        11247     11247      11247
LA            9924   9924     9924   9924         9924      9924       9924
MA               2      2        2      2            2         2          2
MI               1      1        1      1            1         1          1
MO           10913  10913    10913  10913        10913     10913      10913
MT               1      1        1      1            1         1          1
NC               1      1        1      1            1         1          1
NJ            8536   8536     8536   8536         8536      8536       8536
NV            7715   7715     7715   7715         7715      7715       7715
PA           34039  34039    34039  34039        34039     34039      34039
SD               1      1        1      1            1         1          1
TN           12056  12056    12056  12056        12056     12056      12056
TX               4      4        4      4            4         4          4
UT               1      1        1      1            1         1          1
VI               1      1        1      1            1         1          1
VT               1      1        1      1            1         1          1
WA               2      2        2      2            2         2          2
XMS              1      1        1      1            1         1          1

       stars  review_count  is_open  attributes  categories  hours
state
AB      5573          5573     5573        4967        5572   4546
AZ      9912          9912     9912        8920        9906   8496
CA      5203          5203     5203        4669        5202   4303
CO         3             3        3           3           3      1
DE      2265          2265     2265        2068        2262   1881
FL     26330         26330    26330       23735       26309  22877
HI         2             2        2           2           2      1
ID      4467          4467     4467        4067        4464   3892
IL      2145          2145     2145        1970        2144   1795
IN     11247         11247    11247       10311       11243   9513
LA      9924          9924     9924        9123        9916   8150
MA         2             2        2           1           2      0
MI         1             1        1           1           1      1
MO     10913         10913    10913       10047       10907   9450
MT         1             1        1           1           1      1
NC         1             1        1           1           1      1
NJ      8536          8536     8536        7771        8527   7131
NV      7715          7715     7715        6859        7706   6454
PA     34039         34039    34039       31081       34013  28224
SD         1             1        1           1           1      1
TN     12056         12056    12056       10996       12051  10398
TX         4             4        4           2           4      4
UT         1             1        1           1           1      0
VI         1             1        1           1           1      1
VT         1             1        1           1           1      1
WA         2             2        2           2           2      1
XMS        1             1        1           1           1      0

Because data is too large to execute, I had to pull useful data and drop unncessary data to the context. <br>
## Continuing at Review Merge file